<footer>
<ul class="nav justify-content-center afh">
    <a class="nav-link" href="{{ url_for('overview.dashboard') }}">Home</a>
    <a class="nav-link" href="{{ url_for('recipe.view') }}">Recepten</a>
    <a class="nav-link" href="{{ url_for('diet.view') }}">Allergieën en dieetwensen</a>
    <a class="nav-link" href="{{ url_for('roommate.overview') }}">Kamergenoten</a>
    <a class="nav-link" href="{{ url_for('overview.about') }}">Over ons</a>
  </ul>

  <div class="text-right">
    <p>&copy; 2017 - 2018 dietr.io</p>
  </div>
</footer>
