<footer>
  <ul class="nav justify-content-center afh">
      <a class="nav-link" href="{{ url_for('overview.dashboard') }}">Home</a>
      <a class="nav-link" href="{{ url_for('recipe.view') }}">Recepten</a>
      <a class="nav-link" href="{{ url_for('pantry.view') }}">Koelkast leegmaken</a>
      <a class="nav-link" href="{{ url_for('diet.view') }}">Allergieën en dieetwensen</a>
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiel</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('profile.view') }}">Profiel</a>
        <span class="dropdown-divider"></span>
        <a class="dropdown-item" href="{{ url_for('profile.edit') }}">Account</a>
        <a class="dropdown-item" href="{{ url_for('roommate.overview') }}">Personen</a>
        <a class="dropdown-item" href="{{ url_for('diet.view') }}">Dieet</a>
      </div>
      <a class="nav-link" href="{{ url_for('overview.about') }}">Over ons</a>
  </ul>

  <div class="text-right">
    <p>&copy; 2017 - 2018 dietr.io</p>
  </div>
</footer>
