<header>
  <div class="header">
    <div class="img"></div>
    <div class="title">
      <a href="{{ url_for('overview.dashboard') }}">dietr</a>
    </div>
    <div class="account">
      {% if user %}
        <a href="{{ url_for('profile.view') }}">Profiel</a>
        |
        <a href="{{ url_for('authentication.logout') }}">Uitloggen</a>
      {% else %}
        <a href="{{ url_for('authentication.login') }}">Inloggen</a>
        |
        <a href="{{ url_for('authentication.join') }}">Account aanmaken</a>
      {% endif %}
    </div>
  </div>

  {% include 'navigation.jinja' %}
</header>
