<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#14E6A0">

<meta name="author" content="">
<meta name="description" content="">
<meta name="keywords" content="">

<meta name="referrer" content="never">

<link href="/manifest.json" rel="manifest">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">

<script src="https://use.fontawesome.com/456a2c2bb3.js"></script>
