<header>
  <div class="header">
    <div class="img"></div>
    <div class="title">
      <a href="{{ url_for('overview.dashboard') }}">dietr</a>
    </div>
    <div class="account">
      {% if user %}
        <div class="row">
          <a href="{{ url_for('profile.view') }}" style="padding-top: 2px;">Profiel</a>
          <div style="padding: 0 5px;">|</div>
          <form action="{{ url_for('authentication.logout') }}" method="post">
              <button class="btn btn-link" name="logout" type="submit" style="border: 0; padding:0; color: black; cursor: pointer;">Uitloggen</button>
          </form>
        </div>
      {% else %}
        <a href="{{ url_for('authentication.login') }}">Inloggen</a>
        |
        <a href="{{ url_for('authentication.join') }}">Account aanmaken</a>
      {% endif %}
    </div>
  </div>

  {% include 'navigation.jinja' %}
</header>
