<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#55ebd6">

  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="referrer" content="never">

  <style></style>

  <noscript>
    <link href="/static/styles/style.css" rel="stylesheet">
  </noscript>

  <link href="/manifest.json" rel="manifest">
  <link href="/static/styles/style.css" rel="stylesheet">
</head>

<body>
  {% block content %}{% endblock %}

  <script async src="/static/scripts/script.js"></script>
</body>
</html>
