<!doctype html>
<html>
<head>
  <title>{% block title -%}{%- endblock %} - dietr</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#55ebd6">

  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="referrer" content="never">

  <link href="/manifest.json" rel="manifest">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="/static/styles/style.css" rel="stylesheet">

  <script src="https://use.fontawesome.com/456a2c2bb3.js"></script>
</head>

<body>
  {% include 'components/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'components/footer.html' %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  <script async src="/static/scripts/script.js"></script>
</body>
</html>
