{% macro input(name, placeholder=None, value=None, error=None, type='text', required=False) %}
  <input class="form-control {% if error %}is-invalid{% endif %}"
         name="{{ name }}"
         {% if placeholder %}
           placeholder="{{ placeholder }}"
         {% endif %}
         {% if required %}
           required
         {% endif %}
         type="{{ type }}"
         {% if value %}
           value="{{ value }}"
         {% endif %}>
  {% if error %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
  {% endif %}
{% endmacro %}

{% macro input_label(name, placeholder=None, value=None, error=None, type='text', required=False) %}
  <label class="float-left">{{ placeholder }}</label>

  {{ input(name, placeholder, value, error, type, required) }}
{% endmacro %}

{% macro column(width=12) %}
  <div class="col-{{ width}}">
    {% if caller %}
      {{ caller() }}
    {% endif %}
  </div>
{% endmacro %}
