<nav class="navbar navbar-expand-lg navbar-light afh" style="background-color:rgb(20,230,160); padding: 3px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-pills afh">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('overview.dashboard') }}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recipe.view') }}">Recepten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('diet.view') }}">Allergieën en diëten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('roommate.overview') }}">Kamergenoten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('overview.about') }}">Over ons</a>
      </li>
    </ul>
  </div>
</nav>
