<ul class="nav nav-pills afh">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.dashboard') }}">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('recipe.view') }}">Recepten</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('diet.view') }}">Allergieën en diëten</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiel</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ url_for('profile.view') }}">Profiel</a>
      <span class="dropdown-divider"></span>
      <a class="dropdown-item" href="{{ url_for('profile.edit') }}">Account</a>
      <a class="dropdown-item" href="{{ url_for('roommate.overview') }}">Personen</a>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.about') }}">Over ons</a>
  </li>

  <li id="search-bar" class="ml-auto">
    <form action="{{ url_for('overview.search') }}" class="form-inline" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Zoeken" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Zoeken</button>
    </form>
  </li>
</ul>
