{% extends 'layout.jinja' %}

{% block title %}
  Voeg kamergenoot toe
{% endblock title %}

{% block carousel %}
  <form action="{{ url_for('roommate.add') }}" method="post">
    <label>Voornaam</label>
    <input name="first-name" required type="text">
    <hr>

    <label>Tussenvoegsel</label>
    <input name="middle-name" type="text">
    <hr>

    <label>Achternaam</label>
    <input name="last-name" required type="text">
    <hr>

    <button class="btn btn-primary" type="submit">Persoon toevoegen</button>
  </form>
{% endblock carousel %}
