{% extends 'layout.html' %}

{% block title -%}
  Add roommate
{%- endblock title %}

{% block content %}
  <section>
    <form action="/roommate/add" method="post">
      <label>First name</label>
      <input name="first-name" required type="text">
      <hr>

      <label>Middle name</label>
      <input name="middle-name" type="text">
      <hr>

      <label>Last name</label>
      <input name="last-name" required type="text">
      <hr>

      <button class="btn btn-primary" type="submit">Add</button>
    </form>
  </section>
{% endblock content %}
