{% extends 'layout.jinja' %}

{% block title %}
  Pas {{ roommate.name }} aan
{% endblock title %}

{% block templates %}
  <template id="template-item">
    <div class="row">
      <div class="col-1">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
      <div class="col">
        <a></a>
      </div>
    </div>
  </template>

  <template id="template-result">
    <div class="row">
      <div class="col-1">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
      <div class="col">
        <a></a>
      </div>
    </div>
  </template>
{% endblock templates %}

{% block carousel %}{% endblock carousel %}
