{% extends 'layout.html' %}

{% block title -%}
  Edit {{ roommate.name }}
{%- endblock title %}

{% block content %}
  <template id="template-remove">
    <li>
      <a></a>
      <a class="btn btn-warning">Remove</a>
    </li>
  </template>

  <template id="template-add">
    <li>
      <a></a>
      <a class="btn btn-primary">Add</a>
    </li>
  </template>

  <section>
    <form action="/roommate/{{ roommate.handle }}/edit" method="post">
      <label>First name</label>
      <input name="first-name" required type="text" value="{{ roommate.first_name }}">
      <hr>

      <label>Middle name</label>
      {% if roommate.middle_name -%}
        <input name="middle-name" type="text" value="{{ roommate.middle_name }}">
      {%- else -%}
        <input name="middle-name" type="text">
      {%- endif %}
      <hr>

      <label>Last name</label>
      <input name="last-name" required type="text" value="{{ roommate.last_name }}">
      <hr>

      <button class="btn btn-primary" type="submit">Edit</button>
    </form>
  </section>

  <section id="allergies-wrapper">
    <h3>Allergies</h3>

    <ul id="allergies">
      {% for allergy in roommate.allergies %}
        <li>
          <a href="/allergy/{{ allergy.id }}">{{ allergy.name }}</a>
          <a class="btn btn-warning">Remove</a>
        </li>
      {% endfor %}
    </ul>

    <input type="text">
    <button class="btn btn-primary" type="search">Search</button>

    <ul id="allergies-search"></ul>
  </section>

  <section id="preferences-wrapper">
    <h3>Preferences</h3>

    <ul id="preferences">
      {% for ingredient in roommate.preferences %}
        <li>
          <a href="/ingredient/{{ ingredient.id }}">{{ ingredient.name }}</a>
          <a class="btn btn-warning">Remove</a>
        </li>
      {% endfor %}
    </ul>

    <input type="text">
    <button class="btn btn-primary" type="search">Search</button>

    <ul id="preferences-search"></ul>
  </section>
{% endblock content %}
