{% extends 'layout.jinja' %}

{% block title %}
  Roommates
{% endblock title %}

{% block carousel %}
  <h1>Kamergenoten</h1>
  <br>

  <div class="row">
    {% for roommate in roommates %}
      <div class="card-block col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <h3 class="card-header">{{ roommate.name }}</h3>

          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <a href="#remove-{{ roommate.handle }}" data-toggle="modal" data-target="#remove-{{ roommate.handle }}">
                  <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                </a>
              </div>

              <div class="col row" style="justify-content: flex-end; padding: 0;">
                <a href="{{ url_for('roommate.view', handle=roommate.handle) }}" class="btn btn-primary">Bekijken</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="card-block col-6 col-md-6 col-lg-4 add">
      <a data-toggle="modal" data-target="#roommate-add">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </div>
{% endblock carousel %}

{% block content %}
  {% for roommate in roommates %}
    <div class="modal fade" id="remove-{{ roommate.handle }}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header back-color">
            <h3 class="modal-title" id="exampleModalLongTitle">Persoon verwijderen?</h3>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-footer back-color">
            <a class="btn btn-primary btn-lg" href="{{ url_for('roommate.overview') }}" role="button">Annuleren</a>

            <form action="{{ url_for('roommate.remove', handle=roommate.handle) }}" class="form-inline" method="POST">
              <button class="btn btn-primary btn-lg" type="submit">Persoon verwijderen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="modal fade" id="roommate-add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header back-color">
          <h3 class="modal-title">Kamergenoot toevoegen</h3>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="{{ url_for('roommate.add') }}" method="post">
            <div class="form-group">
              {{ macros.input_label('first-name',
                                    placeholder='Voornaam',
                                    required=True) }}
            </div>

            <div class="form-group">
              {{ macros.input_label('middle-name',
                                    placeholder='Tussenvoegsel') }}
            </div>

            <div class="form-group">
              {{ macros.input_label('last-name',
                                    placeholder='Achternaam',
                                    required=True) }}
            </div>

            <button class="btn btn-primary btn-lg" type="submit">Kamergenoot toevoegen</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
