{% extends 'layout.html' %}

{% block title -%}
  View {{ roommate.name }}
{%- endblock title %}

{% block content %}
  <section>
    <h1>{{ roommate.name }}</h1>

    <h3>Allergies</h3>

    <ul>
      {% for allergy in roommate.allergies %}
        <li>
          <a href="/allergy/{{ allergy.id }}">{{ allergy.name }}</a>
        </li>
      {% endfor %}
    </ul>

    <h3>Preferences</h3>

    <ul>
      {% for ingredient in roommate.preferences %}
        <li>
          <a href="/ingredient/{{ ingredient.id }}">{{ ingredient.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
