<body>
<select id="person_select_box" oninput="select_person();">

</select>
Iekie bah vin 'k nie lekka:<br><br>
<p id="current_category_list"></p>
<br><br>
<p id="current_ingredient_list"></p>
Type de naam in van een 
<select id="mode_select_box" oninput="select_search_type();">
	<option id="mode_category" value="category">Allergie / Dieet</option>
	<option id="mode_ingredient" value="ingredient">Ingredient</option>
</select>:
<input type="text" id="add_ingredient_input" oninput="type_in_input();">
<p id="add_item_list"></p>
</body>
<script>
	var url = "http://localhost:5000";//Server urlv
	var page_name = "diet";//De naam van deze pagina (nu diet)
	var first_argument_position = 4;//In url
	
	var current_url = window.location.href;
	var splitted_current_url = current_url.split("/");
	var const_category = 0;
	var const_ingredient = 1;
	var const_add_new = 2;

	//Haalt gegevens uit de url en verwerkt deze in variables
	var person_name = "", start_search_ingredient = "", search_type = const_category;
		if(splitted_current_url.length==5){
			person_name = splitted_current_url[first_argument_position].replace(/%20/g, " ");
		}else if(splitted_current_url.length==6){
			person_name = splitted_current_url[first_argument_position].replace(/%20/g, " ");
			var second_split = splitted_current_url[first_argument_position+1];
			var name_list = second_split.split(":");
				if(name_list.length>1){
					start_search_ingredient = name_list[1];
						if(name_list[0]=="i"){
							search_type = const_ingredient;
							document.getElementById("mode_ingredient").selected = true;
						}else{
							document.getElementById("mode_category").selected = true;
						}
				}else{
					start_search_ingredient = second_split;
				}
		}
	document.getElementById("add_ingredient_input").value = start_search_ingredient;
	type_in_input();
	update_person_select_box("{{ person_list }}");
	update_current_category_list("{{ category_list }}");
	update_current_ingredient_list("{{ ingredient_list }}");
		function generate_search_term(){
			if(search_type==const_category){
				return "c:";
			}else{
				return "i:";
			}
		}
		function select_person(){
			var person_box_input = document.getElementById("person_select_box").value;
			var add_ingredient_input = document.getElementById("add_ingredient_input").value;
				if(add_ingredient_input.length>0){
					window.location.replace(url+"/"+page_name"+/"+person_box_input+"/"+generate_search_term()+add_ingredient_input);
				}else{
					window.location.replace(url+"/"+page_name"+/"+person_box_input);
				}
		}
		function select_search_type(){
			var mode_box_input = document.getElementById("mode_select_box").value;
				if(mode_box_input=="category"){
					search_type = const_category;
				}else{
					search_type = const_ingredient;
				}
			var add_ingredient_input = document.getElementById("add_ingredient_input").value;
				if(add_ingredient_input.length>0){
					window.location.replace(url+"/"+page_name"+/"+person_name+"/"+generate_search_term()+add_ingredient_input);
				}else{
					window.location.replace(url+"/"+page_name"+/"+person_name);
				}
		}
		function check_box(check_box_input, box_type){//Wordt uitgevoerd wanneer 1 van de check boxjes ingevuld is
			var xmlHttp = new XMLHttpRequest();
				if((box_type==const_add_new && search_type==const_category) || box_type==const_category){
					xmlHttp.open("GET", url+"/update_diet_category/"+person_name+"/"+check_box_input, true);
				}else{
					xmlHttp.open("GET", url+"/update_diet_ingredient/"+person_name+"/"+check_box_input, true);
				}
			xmlHttp.send(null);
			xmlHttp.onreadystatechange = function(){//Reload page
				if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
					var add_ingredient_input = document.getElementById("add_ingredient_input").value;
						if(add_ingredient_input.length>0){
							window.location.replace(url+"/"+page_name"+/"+person_name+"/"+generate_search_term()+add_ingredient_input);
						}else{
							window.location.replace(url+"/"+page_name"+/"+person_name+"");
						}
				}
			}
		}
		function type_in_input(){//Wordt uitgevoerd wanneer er in de input getikt wordt
			var text_input = document.getElementById("add_ingredient_input").value;
				if(text_input.length>2){
					var xmlHttp = new XMLHttpRequest();
					xmlHttp.onreadystatechange = function() {
						if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
							update_add_item_list(xmlHttp.responseText);
						}
					}
						if(search_type==const_category){
							xmlHttp.open("GET", url+"/request_search_category/"+text_input, true);
						}else{
							xmlHttp.open("GET", url+"/request_search_ingredient/"+text_input, true);
						}
					xmlHttp.send(null);
				}else{
					document.getElementById("add_item_list").innerHTML = "";//Lege lijst
				}
		}
		function update_html(ingredient_list, checked, box_type){//Update de lijsten wanneer de pagina herladen wordt, of er iets getypt wordt in het zoek vakje
			var output_html = "";
				if(ingredient_list.length==0){
					output_html = "";
				}else{
					var split_data = ingredient_list.split("|");
					var i;
						for(i=0; i<split_data.length/2; i++){
							var ingredient_id = split_data[i*2];
							var ingredient_name = split_data[i*2+1];
								if(checked){
									output_html += "<input type='checkbox' id='add_item_checkbox' value='"+ingredient_id+"' onchange='check_box("+ingredient_id+", "+box_type+");' checked>";
								}else{
									output_html += "<input type='checkbox' id='add_item_checkbox' value='"+ingredient_id+"' onchange='check_box("+ingredient_id+", "+box_type+");'>";
								}
							output_html += ingredient_name;
							output_html += "<br>";
						}
				}
			return output_html;
		}
		function update_current_category_list(category_list){
			var use_html = update_html(category_list, true, const_category);
			document.getElementById("current_category_list").innerHTML = use_html;
		}
		function update_current_ingredient_list(ingredient_list){
			var use_html = update_html(ingredient_list, true, const_ingredient);
			document.getElementById("current_ingredient_list").innerHTML = use_html;
		}
		function update_add_item_list(ingredient_list){
			var use_html = update_html(ingredient_list, false, const_add_new);
			document.getElementById("add_item_list").innerHTML = use_html;
		}
		function update_person_select_box(person_list){
			var output_html = "";
				if(person_list.length>0){
					var split_data = person_list.split("|");
						if(person_name==""){//Als er geen persoon in de url is dan halen we de eerste uit het lijstje
							person_name = split_data[0];
						}
					var i;
						for(i=0; i<split_data.length; i++){
							var result_name = split_data[i];
								if(result_name==person_name){
									output_html += "<option value='"+result_name+"' selected>"+result_name+"</option>";
								}else{
									output_html += "<option value='"+result_name+"'>"+result_name+"</option>";
								}
						}
				}
			document.getElementById("person_select_box").innerHTML = output_html;
		}
</script>