{% extends 'layout.jinja' %}

{% block title %}
  Allergieën en diëten
{% endblock title %}

{% block templates %}
  <template id="template-item">
    <div class="row">
      <div class="col-1">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
      <div class="col">
        <a></a>
      </div>
    </div>
  </template>

  <template id="template-result">
    <div class="row">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <a></a>
    </div>
  </template>
{% endblock templates %}

{% block carousel %}
  <h1>Allergieën en diëten</h1>
  <br>

  <div class="row justify-content-center">
    <div class="col-5 text-left">
      <div class="row">
        <div class="col-10">
          <h2>Allergieën</h2>
        </div>
      </div>

      <div class="form-check" id="allergies">
        {% if user.allergies %}
          {% for allergy in user.allergies %}
            <div class="row">
              <div class="col-1">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </div>

              <div class="col">
                <a href="{{ url_for('allergy.view', id=allergy.id) }}">{{ allergy.name }}</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="col-1 border-right"></div>

    <div class="col-5 text-left">
      <div class="row">
        <div class="col-10">
          <h2>Ingrediënten</h2>
        </div>
      </div>

      <div class="form-check" id="ingredients">
        {% for ingredient in user.preferences %}
          <div class="row">
            <div class="col-1">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>

            <div class="col">
              <a href="{{ url_for('ingredient.view', id=ingredient.id) }}">{{ ingredient.name }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <form class="form-inline" id="search">
      <div class="row">
        <div class="col">
          {{ macros.input('search', placeholder='Zoeken', type='search') }}
        </div>

        <div class="col">
          <button class="btn btn-primary">Zoeken</button>
        </div>
      </div>
    </form>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="row">
      <div class="col-12" id="results"></div>
    </div>
  </div>
{% endblock carousel %}
