{% extends 'layout.jinja' %}

{% block title %}
  Allergieën en diëten
{% endblock title %}

{% block template %}
  <template id="template-remove"></template>

  <template id="template-search-result">
    <a></a>
    <a class="btn btn-primary">Voeg toe</a>
  </template>
{% endblock template %}

{% block carousel %}
  <h1>Allergieën en diëten</h1>
  <br>

  {#<div class="row justify-content-center">
    {% for roommate in roommates %}
      <button class="btn btn-primary btn-lg btn-margin" href="{{ url_for('roommate.view', hanlde=roommate.handle) }}">{{ roommate.name }}</button>
    {% endfor %}
  </div>#}

  <div class="row justify-content-center">
    <div class="col-3 text-left">
      <div class="row">
        <div class="col-10">
          <h2>Allergieën</h2>
        </div>
      </div>

      <div class="form-check">
        {% for allergy in user.allergies %}
          <label class="form-check-label">
            <div class="row">
              <div class="col-2">
                <a href="#">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col">
                <h4>{{ allergy.name }}</h4>
              </div>
            </div>
          </label>
        {% endfor %}
      </div>
    </div>

    <div class="col-1 border-right"></div>

    <div class="col-3 text-left">
      <div class="row">
        <div class="col-10">
          <h2>Diëten</h2>
        </div>
      </div>

      <div class="form-check"></div>
    </div>

    <div class="col-1 border-right"></div>

    <div class="col-3 text-left">
      <div class="row">
        <div class="col-10">
          <h2>Ingrediënten</h2>
        </div>
      </div>

      <div class="form-check">
        {% for ingredient in user.preferences %}
          <label class="form-check-label">
            <div class="row">
              <div class="col-2">
                <a href="#">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col">
                <h4>{{ ingredient.name }}</h4>
              </div>
            </div>
          </label>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock carousel %}

{% block content %}
  <div class="back-color row justify-content-center">
    <form class="form-inline">
      <div class="dropdown text-right">
        <button class="btn btn-primary btn-margin dropdown-toggle" data-toggle="dropdown">
          Zoeken naar
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item">Allergie</a>
          <a class="dropdown-item">Dieet</a>
          <a class="dropdown-item">Ingrediënt</a>
        </div>
      </div>

      {{ macros.input('search', placeholder='Zoeken', type='search') }}
      <button class="btn btn-primary" id="search-button">Zoeken</button>
    </form>
  </div>

  <div class="back-color row justify-content-center" id="search-result"></div>
{% endblock content %}
