{% extends 'layout.jinja' %}

{% block title %}
  Oeps!
{% endblock title %}

{% block content %}
  <section>
    <div class="back-color text-center">
      <h1>Oeps!</h1>
      <br>

      <h2>U mag deze pagina niet bekijken.</h2>
      <code>403 forbidden</code>
    </div>
  </section>
{% endblock content %}
