{% extends 'layout.jinja' %}

{% block title %}
  Oeps!
{% endblock title %}

{% block content %}
  <section>
    <div class="back-color text-center">
      <h1>Oeps!</h1>
      <br>

      <h2>De server kan de pagina niet vertonen.</h2>
      <code>500 internal server error</code>
    </div>
  </section>
{% endblock content %}
