{% extends 'layout.jinja' %}

{% block title %}
  Oeps!
{% endblock title %}

{% block content %}
  <section>
    <div class="back-color text-center">
      <h1>Oeps!</h1>
      <h2>Iets is fout gegaan</h2>

      <br>

      <h3>De server kan de pagina niet vertonen.</h3>
    </div>
  </section>
{% endblock content %}
