{% extends 'layout.jinja' %}

{% block title %}
  Oeps!
{% endblock title %}

{% block content %}
  <section>
    <div class="back-color text-center">
      <h1>Oeps!</h1>
      <br>

      <h2>We konden de pagina die je zoekt niet vinden.</h2>
      <code>404 not found</code>
    </div>
  </section>
{% endblock content %}
