<footer>
  <ul class="nav justify-content-center">
    <li>
      <a class="nav-link active" href="{{ url_for('overview.dashboard') }}">Home</a>
    </li>

    <li>
      <a class="nav-link" href="{{ url_for('recipe.recipes') }}">Recepten</a>
    </li>

    <li>
      <a class="nav-link" href="{{ url_for('pantry.pantry') }}">Koelkast leegmaken</a>
    </li>

    <li>
      <a class="nav-link" href="{{ url_for('profile.profile') }}">Allergieën en dieetwensen</a>
    </li>

    <li>
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiel</a>
    </li>

    <li>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('profile.profile') }}">Profiel</a>

        <span class="dropdown-divider"></span>

        <a class="dropdown-item" href="{{ url_for('diet.diet') }}">Dieet</a>
        <a class="dropdown-item" href="{{ url_for('roommate.roommates') }}">Personen</a>
      </div>
    </li>

    <li>
      <a class="nav-link" href="{{ url_for('overview.about') }}">Over ons</a>
    </li>
  </ul>

  <div class="text-right">
    <p>&copy; 2017 - 2018 dietr.io</p>
  </div>
</footer>
