<footer>
  <ul class="nav justify-content-center afh">
    <br>
    <li>
      <a class="nav-link active" href="Home.html">Home</a>
    </li>

    <li>
      <a class="nav-link" href="Recepten.html">Recepten</a>
    </li>

    <li>
      <a class="nav-link" href="Koelkast_leegmaken.html">Koelkast leegmaken</a>
    </li>

    <li>
      <a class="nav-link" href="Allergien_en_dieetwensen.html">Allergieën en dieetwensen</a>
    </li>

    <li>
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiel</a>
    </li>

    <li>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="Profiel.html">Profiel</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="Account.html">Account</a>
        <a class="dropdown-item" href="Personen.html">Personen</a>
      </div>
    </li>

    <li>
      <a class="nav-link" href="Over_ons.html">Over ons</a>
    </li>
  </ul>

  <div class="text-right">
    <p>&copy; 2017 - 2018 dietr.io</p>
  </div>
</footer>
