<header>
  <div class="header">
    <div class="img"></div>

    <div class="title">
      <a href="{{ url_for('overview.dashboard') }}">dietr</a>
    </div>

    <div class="user">
      {% if user %}
        <a href="{{ url_for('profile.view') }}">Profiel</a>
        <span>|</span>
        <form action="{{ url_for('authentication.logout') }}" class="form-inline" method="POST">
          <a>Uitloggen</a>
        </form>
      {% else %}
        <a href="{{ url_for('authentication.login') }}">Inloggen</a>
        <span>|</span>
        <a href="{{ url_for('authentication.join') }}">Account aanmaken</a>
      {% endif %}
    </div>
  </div>

  {% include 'components/navigation.html' %}
</header>
