<ul class="nav nav-pills afh">
  <li class="nav-item">
    <a class="nav-link active" href="Home.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Recepten.html">Recepten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Koelkast_leegmaken.html">Koelkast leegmaken</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Allergieen_en_dieten.html">Allergieën en diëten</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiel</a>
    <div class="dropdown-menu">
      <a class="dropdown-item active" href="Profiel.html">Profiel</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="Account.html">Account</a>
      <a class="dropdown-item" href="Personen.html">Personen</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Over_ons.html">Over ons</a>
  </li>
  <li id="search-bar" class="ml-auto">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Zoeken" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Zoeken</button>
    </form>
  </li>
</ul>
