{% extends 'layout.jinja' %}

{% block title %}
  Recepten
{% endblock title %}

{% block content %}
  <section>
  <div class="row">
    <div id="mySidenav" class="sidenav">
      <div style="margin-left: 20px;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h2>Categorieën</h2>
        <hr>

        {% if user.roommates %}
          <h4>Kamergenoten</h4>
          <div class="form-check">
            <form action="{{ url_for('recipe.view') }}" method="post">

            {% for roommate in user.roommates %}
              <label class="form-check-label">
                <input name="roommate_{{ roommate.id }}" class="form-check-input" type="checkbox" value="True" {{ 'checked="checked"' if roommate.id in checked_roommates else "" }} style="margin-top: -1px;">
                {{ roommate.first_name }}
              </label>
            {% endfor %}

            <br>
          </div>

          <button class="btn btn-primary" type="submit">Bevestig</button>
        {% endif %}

        <hr>
          <h4>Soort gerecht</h4>
          <div class="form-check">
            <label class="form-check-label">
              <input name="course_4" class="form-check-input" type="checkbox" value="True" {% if course %} {{ 'checked="checked"' if 4 in course else "" }} {% endif %} style="margin-top: -1px;">
              Voorgerecht
            </label>

            <label class="form-check-label">
              <input name="course_3" class="form-check-input" type="checkbox" value="True" {% if course %} {{ 'checked="checked"' if 3 in course else "" }} {% endif %} style="margin-top: -1px;">
              Hoofdgerecht
            </label>

            <label class="form-check-label">
              <input name="course_5" class="form-check-input" type="checkbox" value="True" {% if course %} {{ 'checked="checked"' if 5 in course else "" }} {% endif %} style="margin-top: -1px;">
              Nagerecht
            </label>
            <br>
            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Bevestig</button>

          </div>

          <hr>

          <h4>Dieet</h4>
          <div class="form-check">
            <label class="form-check-label">
              <input name="diet_7" class="form-check-input" type="checkbox" value="True" {% if diet %} {{ 'checked="checked"' if 7 in diet else "" }} {% endif %} style="margin-top: -1px;">
              Vegetarisch
            </label>

            <label class="form-check-label">
              <input name="diet_6" class="form-check-input" type="checkbox" value="True" {% if diet %} {{ 'checked="checked"' if 6 in diet else "" }} {% endif %} style="margin-top: -1px;">
              Veganistisch
            </label>

            <br>
            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Bevestig</button>
        </div>
      </form>
      </div>

      </div>

      <div class="col recipes">
        <div class="row">
          <div class="col-1 margin-top">
            <span style="font-size: 30px; cursor: pointer;" onclick="openNav()">&#9776</span>
          </div>
          <div class="col row" style="justify-content: flex-end;">
            <button class="btn btn-primary btn-margin dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recepten weergave
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for_other_page(1, 20) }}">20</a>
              <a class="dropdown-item" href="{{ url_for_other_page(1, 40) }}">40</a>
              <a class="dropdown-item" href="{{ url_for_other_page(1, 100) }}">100</a>
            </div>

            <button class="btn btn-primary btn-margin dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sorteren op
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <form action="{{ url_for('recipe.view') }}" method="post">
                <button class="dropdown-item" name="sort" value="1">A-Z</button>
                <button class="dropdown-item" name="sort" value="2">Z-A</button>
              </form>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="card-deck">
            {% for recipe in recipes : %}
              <div class="card-block col-sm-6 col-md-3 col-lg-3">
                <a href="#recipe{{ recipe.id }}" class="card clearfix" data-toggle="modal" data-target="#recipe{{ recipe.id }}">
                  {% if recipe.image %}
                    <div class="card-img" style="background-image: url({{ url_for('static', filename='images/ingredients/' + recipe.image) }})"></div>
                  {% endif %}

                  <div class="card-img-overlay">
                    <h3 id="Recipe_name" class="card-title">{{ recipe.name }}</h3>
                    <p class="card-text">Ingrediënten:
                      <ul>
                        {% for ingredient in recipe.ingredients[0:2] : %}
                          <li>{{ ingredient.name }}</li>
                        {% endfor %}
                        <li>...</li>
                      </ul>
                    </p>
                  </div>

                  <div class="card-footer">
                    <small class="text-muted">Afkomstig van: {{ recipe.source }}</small>
                  </div>
                </a>
              </div>

              <div class="modal fade" id="recipe{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header back-color">
                      <h3 class="modal-title" id="exampleModalLongTitle">{{ recipe.name }}</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body background-img">
                      <div class="row">
                        <div class="col-6">
                          <p>Ingrediënten</p>
                            <ul>
                              {% for ingredient in recipe.ingredients[0:2] %}
                                <li>{{ ingredient.name }}</li>
                              {% endfor %}

                              <li>...</li>
                          </ul>
                        </div>

                        <div class="col-6">
                          <p>Allergenen</p>
                          <ul>
                            {% if recipe.allergies %}
                              {% for allergy in recipe.allergies[0:2] %}
                                <li>{{ allergy.name }}</li>
                              {% endfor %}

                              {% if recipe.allergies|length > 3 %}
                                <li>...</li>
                              {% endif %}
                            {% else %}
                              <li>Geen allergenen</li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12">
                          <div class="alert alert-success" role="alert">Let op! DIETR kan niet garanderen dat gevonden recepten bepaalde allergenen ook daadwerkelijk niet bevatten. Controleer daarom altijd zelf de ingrediënten op allergenen.</div>

                          <p>Dit recept is afkomstig van:
                            <a href="{{ recipe.url }}">{{ recipe.source }}</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer back-color">
                      <a class="btn btn-primary" href="{{ recipe.url }}">Bekijk recept</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row justify-content-center margin">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if pagination.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for_other_page(pagination.page - 1, pagination.per_page) }}">Vorige</a></li>
              {% endif %}

              {% for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != pagination.page %}
                    <li class="page-item"><a class="page-link" href="{{ url_for_other_page(page, pagination.per_page) }}">{{ page }}</a></li>
                  {% else %}
                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                  {% endif %}
                {% else %}
                  <li class="page-item"><span class="page-link">…</span></li>
                {% endif %}
              {% endfor %}

              {% if pagination.has_next %}
                <li class="page-item"><a class="page-link" href="{{ url_for_other_page(pagination.page + 1, pagination.per_page) }}">Volgende</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <script>
     function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
     }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>

  </section>
{% endblock content %}
