{% extends 'layout.jinja' %}

{% block title %}
  Recepten
{% endblock title %}

{% block content %}
  <section>
    <div class="row">
      <div id="nav" class="sidenav">
        <div style="margin-left: 20px">
          <a class="closebtn" onclick="script.nav.close()">&times;</a>

          <h2>Categorieën</h2>
          <hr>

          <form action="{{ url_for('recipe.view') }}" method="post">
            {% if user.roommates %}
              <h4>Kamergenoten</h4>

              {% for roommate in user.roommates %}
                <div class="form-check">
                  <label class="form-check-label" for="roommate-{{ roommate.handle }}">{{ roommate.name }}</label>
                  <input class="form-check-input" id="roommate-{{ roommate.handle }}" name="roommate-{{ roommate.handle }}" type="checkbox" value="True" {% if roommate.handle in roommates %} checked="checked" {% endif %}>
                </div>
              {% endfor %}
            {% endif %}

            <hr>

            <h4>Soort gerecht</h4>

            <div class="form-check">
              <label class="form-check-label" for="tag-4">Voorgerecht</label>
              <input class="form-check-input" id="tag-4" name="tag-4" type="checkbox" value="True" {% if 4 in tags %} checked="checked"{% endif %}>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="tag-3">Hoofdgerecht</label>
              <input class="form-check-input" id="tag-3" name="tag-3" type="checkbox" value="True" {% if 3 in tags %}checked="checked"{% endif %}>
            <div class="form-check">

            </div>
              <label class="form-check-label" for="tag-5">Nagerecht</label>
              <input class="form-check-input" id="tag-5" name="tag-5" type="checkbox" value="True" {% if 5 in tags %}checked="checked"{% endif %}>
            </div>

            <hr>

            <h4>Dieet</h4>

            <div class="form-check">
              <label class="form-check-label" for="tag-7">Vegetarisch</label>
              <input class="form-check-input" id="tag-7" name="tag-7" type="checkbox" value="True" {% if 7 in tags %}checked="checked"{% endif %}>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="tag-6">Veganistisch</label>
              <input class="form-check-input" id="tag-6" name="tag-6" type="checkbox" value="True" {% if 6 in tags %}checked="checked"{% endif %}>
            </div>

            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Bevestig</button>
          </form>
        </div>
      </div>

      <div class="col recipes">
        <div class="row">
          <div class="col-1 margin-top">
            <span style="font-size: 30px; cursor: pointer;" onclick="script.nav.open()">&#9776</span>
          </div>
          <div class="col row" style="justify-content: flex-end;">
            <div class="dropdown">
              <button class="btn btn-primary btn-margin dropdown-toggle" type="button" id="dropdown-limit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recepten weergave
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdown-limit">
                <a class="dropdown-item" href="{{ url_for('recipe.view', page=1, limit=20, sort=sort) }}">20</a>
                <a class="dropdown-item" href="{{ url_for('recipe.view', page=1, limit=40, sort=sort) }}">40</a>
                <a class="dropdown-item" href="{{ url_for('recipe.view', page=1, limit=100, sort=sort) }}">100</a>
              </div>

            </div>
            <div class="dropdown">
              <button class="btn btn-primary btn-margin dropdown-toggle" type="button" id="dropdown-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sorteren op
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdown-sort">
                <a class="dropdown-item" href="{{ url_for('recipe.view', page=1, limit=limit, sort='A-Z') }}">A-Z</a>
                <a class="dropdown-item" href="{{ url_for('recipe.view', page=1, limit=limit, sort='Z-A') }}">Z-A</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="card-deck">
            {% for recipe in recipes : %}
              <div class="card-block col-sm-6 col-md-3 col-lg-3">
                <a href="#recipe{{ recipe.id }}" class="card clearfix" data-toggle="modal" data-target="#recipe{{ recipe.id }}">
                  {% if recipe.image %}
                    <div class="card-img" style="background-image: url({{ url_for('static', filename='images/ingredients/' + recipe.image) }})"></div>
                  {% else %}
                      <div class="card-img" style="background-image: url({{ url_for('static', filename='images/ingredients/zout.png') }})"></div>
                  {% endif %}

                  <div class="card-img-overlay">
                    <h3 id="Recipe_name" class="card-title">{{ recipe.name }}</h3>
                    <p class="card-text">Ingrediënten:
                      <ul>
                        {% for ingredient in recipe.ingredients[0:2] : %}
                          <li>{{ ingredient.name }}</li>
                        {% endfor %}
                        <li>...</li>
                      </ul>
                    </p>
                  </div>

                  <div class="card-footer">
                    <small class="text-muted">Afkomstig van: {{ recipe.source }}</small>
                  </div>
                </a>
              </div>

              <div class="modal fade" id="recipe{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header back-color">
                      <h3 class="modal-title" id="exampleModalLongTitle">{{ recipe.name }}</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body background-img">
                      <div class="row">
                        <div class="col-6">
                          <p>Ingrediënten</p>
                            <ul>
                              {% for ingredient in recipe.ingredients[0:2] %}
                                <li>{{ ingredient.name }}</li>
                              {% endfor %}

                              <li>...</li>
                          </ul>
                        </div>

                        <div class="col-6">
                          <p>Allergenen</p>
                          <ul>
                            {% if recipe.allergies %}
                              {% for allergy in recipe.allergies[0:2] %}
                                <li>{{ allergy.name }}</li>
                              {% endfor %}

                              {% if recipe.allergies|length > 3 %}
                                <li>...</li>
                              {% endif %}
                            {% else %}
                              <li>Geen allergenen</li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12">
                          <div class="alert alert-success" role="alert">Let op! DIETR kan niet garanderen dat gevonden recepten bepaalde allergenen ook daadwerkelijk niet bevatten. Controleer daarom altijd zelf de ingrediënten op allergenen.</div>

                          <p>Dit recept is afkomstig van:
                            <a href="{{ recipe.url }}">{{ recipe.source }}</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer back-color">
                      <a class="btn btn-primary" href="{{ recipe.url }}">Bekijk recept</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row justify-content-center margin">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if pagination.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for_other_page(pagination.page - 1, pagination.per_page) }}">Vorige</a></li>
              {% endif %}

              {% for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != pagination.page %}
                    <li class="page-item"><a class="page-link" href="{{ url_for_other_page(page, pagination.per_page) }}">{{ page }}</a></li>
                  {% else %}
                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                  {% endif %}
                {% else %}
                  <li class="page-item"><span class="page-link">…</span></li>
                {% endif %}
              {% endfor %}

              {% if pagination.has_next %}
                <li class="page-item"><a class="page-link" href="{{ url_for_other_page(pagination.page + 1, pagination.per_page) }}">Volgende</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
