{% extends 'layout.jinja' %}

{% block title %}
  Over ons
{% endblock title %}

{% block carousel %}
  <h1>Hallo! Leuk dat je onze website bezoekt!</h1>
  <br>
  <h3>Wij zijn een groep studenten die Informatica studeren aan Universiteit Utrecht.
  <br><br>
  Voor een studie-opdracht hebben wij ons eigen project bedacht, ontworpen en gebouwd en dit is het resultaat!
  <br><br>
  Wil je meer over ons weten of om een andere reden contact met ons opnemen? Mail dan naar: </h3>
  <br>
  <h3>
    <i class="fa fa-user" aria-hidden="true"></i>
    Daan Renken
  </h3>
  <h3>
    <i class="fa fa-user" aria-hidden="true"></i>
    Nabil Driuch
  </h3>
  <h3>
    <i class="fa fa-user" aria-hidden="true"></i>
    Sem van Nieuwenhuizen
    <br>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    r.s.vannieuwenhuizen@students.uu.nl
  </h3>
  <h3>
    <i class="fa fa-user" aria-hidden="true"></i>
    Tieke Stellingwerf
    <br>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    t.stellingwerf2@students.uu.nl
  </h3>
  <br>
  <p>We hebben deze website gemaakt voor een studie-opdracht en gaan hem dus niet gebruiken voor commerciële doeleinden.</p>
{% endblock carousel %}
