<form action="/join" method="post">
  <h3>Join</h3>

  <label>First name</label>
  <input name="first-name" type="text">
  <hr>

  <label>Middle name</label>
  <input name="middle-name" type="text">
  <hr>

  <label>Last name</label>
  <input name="last-name" type="text">
  <hr>

  <br>

  <label>Email address</label>
  <input name="email" required type="email">
  <hr>

  <br>

  <label>Username</label>
  <input name="username" required type="text">
  <hr>

  <label>Password</label>
  <input name="password" required type="password">
  <hr>

  <label>Confirm password</label>
  <input name="password-verify" required type="password">
  <hr>

  <br>

  <button class="button" type="submit">Register</button>
</form>
