{% extends 'layout.jinja' %}

{% block title %}
  Inloggen
{% endblock title %}

{% block carousel %}
  <h1>Inloggen</h1>
  <br>

  <form action="{{ url_for('authentication.login') }}" method="post">
    <div class="form-group row justify-content-center">
    <div class="col-10">
        {{ macros.input('username',
                        placeholder='Gebruikersnaam',
                        value=username,
                        required=True) }}
      </div>
    </div>

    <br>

    <div class="form-group row justify-content-center">
      <div class="col-10">
        {{ macros.input('password',
                        placeholder='Wachtwoord',
                        error=error.password,
                        required=True,
                        type='password') }}
      </div>
    </div>

    <button class="btn btn-primary btn-lg" type="submit">Inloggen</button>
  </form>
{% endblock carousel %}
