{% extends 'layout.jija' %}

{% block title %}
  Uitloggen
{% endblock title %}

{% block carousel %}
  <div class="row justify-content-md-center">
    <div class="col-8">
      <form action="{{ url_for('authentication.logout') }}" method="post">
        <h1>Uitloggen</h1>
        <br>
        <button class="btn btn-primary btn-lg" name="logout" type="submit">Uitloggen</button>
      </form>
    </div
  </div>
{% endblock carousel %}
