{% extends 'layout.jinja' %}

{% block title %}
  Wachtwoord aanpassen
{% endblock title %}

{% block carousel %}
  <h1>Wachtwoord aanpassen</h1>
  <br>

  <form action="{{ url_for('authentication.reset') }}" method="post">
    <div class="form-group row justify-content-md-center">
      <div class="col-1"></div>
      <div class="col-10">
        {{ macros.input('email',
                        placeholder='E-mailadres',
                        error=error.password,
                        required=True,
                        type='email') }}
      </div>
    </div>

    <br>

    <button class="btn btn-primary btn-lg" type="submit">Wachtwoord aanpassen</button>
  </form>
{% endblock carousel %}
