<form action="/pantry/{{ ingredient.index }}/edit" method="post">
  <label>Naam</label>
  <input name="name" required type="text">
  <hr>

  <label>Hoeveelheid</label>
  <input name="amount" type="number">
  <hr>

  <label>Unit</label>
  <select name="unit">
    <option disabled selected>Select</option>
    <option>Gram</option>
    <option>Liter</option>
    <option>Kilo</option>
  </select>
</form>
