<h1>{{ ingredient.name }}</h1>
<p class="lead">{{ ingredient.description }}</p>
<br>
<ul>
  {% for allergen in ingredient.allergens %}
    <li>
      <a href="/allergy/{{ allergen.id }}">{{ allergen.name }}</a>
    </li>
  {% endfor %}
</ul>
