{% extends 'layout.html' %}

{% block title -%}
  Edit {{ person.name }}
{%- endblock title %}

{% block content %}
  <section>
    <form action="/person/{{ person.handle }}/edit" method="post">
      <label>Name</label>
      <input name="name" required type="text" value="{{ person.name }}">
      <hr>

      <button class="btn btn-primary" type="submit">Edit</button>
    </form>

    <h3>Allergies</h3>
    <ul class="allergies-wrapper">
      {% for allergy in person.allergies %}
        <li>
          <p>{{ allergy.name|e }}</p>
        </li>
      {% endfor %}
    </ul>

    <h3>Ingredients</h3>
    <ul class="ingredients-wrapper">
      {% for ingredient in person.ingredients %}
        <li>
          <a href="/ingredient/{{ ingredient.id }}">{{ ingredient.name }}</a>
          <a class="btn btn-warning">Remove</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
