<form action="/person/{{ person.name }}/edit" method="post">
  <label>Ingredient name</label>
  <br>

  {% for ingredient in person.ingredients %}
    <input value="{{ ingredient.name }}">
    <hr>
  {% endfor %}

  <textarea name="ingredients">
    {%- for ingredient in person.ingredients -%}
      {%- if loop.index > 1 %},{% endif -%}
      {{ ingredient.id }}
    {%- endfor -%}
  </textarea>
  <hr>

  <label>Allergy name</label>
  <br>

  {% for allergy in person.allergies %}
    <input value="{{ allergy.name }}">
    <hr>
  {% endfor %}

  <textarea name="allergies">
    {%- for allergy in person.allergies -%}
      {%- if loop.index > 1 %},{% endif -%}
      {{ allergy.id }}
    {%- endfor -%}
  </textarea>
  <hr>

  <br>

  <button class="button" name="remove" type="submit">Edit</button>
</form>
