{% extends 'layout.jinja' %}

{% block title %}
  Profiel aanpassen
{% endblock title %}

{% block carousel %}
  <h1>Profiel aanpassen</h1>
  <br>
  <form action="{{ url_for('profile.edit_name') }}" method="post">
    <div class="row justify-content-md-center">
      <div class="col-3">
        {{ macros.input('first-name', 'Voornaam',
                        value=user.first_name,
                        error=error.first_name,
                        required=True) }}
      </div>
      <div class="col-2">
        {{ macros.input('middle-name', 'Tussenvoegsel',
                        value=user.middle_name) }}
      </div>
      <div class="col-3">
        {{ macros.input('last-name', 'Achternaam',
                        value=user.last_name,
                        error=error.last_name,
                        required=True) }}
      </div>
    </div>
  </form>
  <div class="row justify-content-md-center">
    <div class="col-8">
      <form action="{{ url_for('profile.edit_email') }}" method="post">
        {% call macros.input('email', 'E-mailadres', 'email',
                             value=user.email,
                             error=error.email,
                             required=True) %}
          <small>Wij delen uw e-mailadres niet met derden.</small>
        {% endcall %}
      </form>
      <form action="{{ url_for('profile.edit_username') }}" method="post">
        {{ macros.input('username', 'Gebruikersnaam',
                        value=user.username,
                        error=error.username,
                        required=True) }}
      </form>
      <form action="{{ url_for('profile.edit_password') }}" method="post">
        {{ macros.input('current-password', 'Huidig wachtwoord',
                        error=error.current_password,
                        required=True,
                        type='password') }}
        {{ macros.input('password', 'Wachtwoord',
                        error=error.password,
                        required=True,
                        type='password') }}
        {{ macros.input('password-verify', 'Wachtwoord bevestigen',
                        error=error.password_verify,
                        required=True,
                        type='password') }}
        <br>
        <button class="btn btn-primary btn-lg" type="submit">Gegevens opslaan</button>
        </form>
      </div>
    </div>
  </div>
{% endblock carousel %}
