{% extends 'layout.html' %}

{% block title -%}
  Edit profile
{%- endblock title %}

{% block content %}
  <section>
    <form action="/profile/edit" method="post">
      <label>First name</label>
      <input name="first-name" required type="text" value="{{ user.first_name }}">
      <hr>

      <label>Middle name</label>
      {% if user.middle_name -%}
        <input name="middle-name" type="text" value="{{ user.middle_name }}">
      {%- else -%}
        <input name="middle-name" type="text">
      {%- endif %}
      <hr>

      <label>Last name</label>
      <input name="last-name" required type="text" value="{{ user.last_name }}">
      <hr>

      <button class="btn btn-primary" type="submit">Edit</button>
    </form>

    <h3>Allergies</h3>
    <ul class="allergies-wrapper">
      {% for allergy in user.allergies %}
        <li>
          <a href="/allergy/{{ allergy.id }}">{{ allergy.name }}</a>
          <a class="btn btn-warning">Remove</a>
        </li>
      {% endfor %}
    </ul>

    <h3>Ingredients</h3>
    <ul class="ingredients-wrapper">
      {% for ingredient in user.ingredients %}
        <li>
          <a href="/ingredient/{{ ingredient.id }}">{{ ingredient.name }}</a>
          <a class="btn btn-warning">Remove</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
