{% extends 'layout.jinja' %}

{% block title %}
  {{ user.name }}
{% endblock title %}

{% block carousel %}
  <h1>Profiel</h1>

  <br>

  <h2>Wil je je profiel aanpassen?</h2>
  <a class="btn btn-primary" href="{{ url_for('profile.edit') }}">Profiel aanpassen</a>

  <br>

  <h2>Wil je je kamergenoten aanpassen?</h2>
  <a class="btn btn-light" href="{{ url_for('roommate.overview') }}">Kamergenoten bekijken</a>

  <br>

  <h2>Wil je je dieët aanpassen?</h2>
  <a class="btn btn-light" href="{{ url_for('diet.view') }}">Dieët bekijken</a>
{% endblock carousel %}
